html


video {
  position: fixed;
  left: 1;
  right: 1px; ;
  top: 0;
  height:120%;
  z-index: -1;}

  header{width: 2000px;
  height: 10px;
   background-color: rgb(98, 68, 231); 
   border: 4000px darkorange;
   margin: 50px;
   padding: 60px;
  position: relative;
  top: -50px;;
  margin-left: -1%;
}
  #buscador{position: relative;
    top: -157px; 
    left: 650px;
    width: 400px;
     height: 40px }

p.rojo{font-family:Saiyan Sans, sans-serif; font-weight: 500; -webkit-text-stroke: 2px black;
color:#C10909 ;}
#sec1{justify-content: space-evenly;display: inline-grid;display: grid;grid-template-columns: auto auto auto;text-align: center;}
#sec12{justify-content: space-evenly;display: inline-grid;display: grid;grid-template-columns: auto auto auto;text-align: center;}
#sec2{justify-content: space-evenly;display: inline-grid;display: grid;grid-template-columns: auto auto auto;text-align: center;}
#sec21{justify-content: space-evenly;display: inline-grid;display: grid;grid-template-columns: auto auto auto;text-align: center;}

  

  #naranja
  {
    font-size: 50px;
    font-family:Saiyan Sans, sans-serif;
     font-weight: 500; -webkit-text-stroke: 
     2px black; 
    color:#FFB33F ;
     position: relative;
     top: -70px; 
     left: 300px;
     width: 50px; 
     height: 70px 
  }

    

#int
{
  width: 5000px;
  height: 75px;
   background-color: rgb(26, 235, 26); 
   border: 400px darkorange;
   margin: -10px;
   padding: -100px;

}


#seccion1{
  margin-top: 7%;
}

